.button-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5272ff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button-delete mat-icon {
  font-size: 20px;
  margin-right: 8px;
}

.button-delete span {
  margin-right: 8px;
}

.button-delete:hover {
  background-color: #48cdcf;
}

.custom-table .action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

table{
  background-color: gainsboro;
}
