<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-12 py-4 d-flex align-items-center">
      <!--bottoni mi piace e non mi piace-->
      <button mat-raised-button class="like-button" (click)="voteArticle(true)"><mat-icon>thumb_up</mat-icon>{{ article?.likeCount }}</button>
      <button mat-raised-button class="dislike-button" (click)="voteArticle(false)"><mat-icon>thumb_down</mat-icon>{{ article?.dislikeCount }}</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="box-text">
        <div class="d-flex align-items-center">
          <p>scritto da</p>
        <h2 class="mx-2 author">{{article?.user?.firstName}} {{article?.user?.lastName}}</h2>
        </div>

        <p class="font-title pb-5 article-content" [innerHTML]="article?.title"></p>
        <p class="article-content" [innerHTML]="article?.content"></p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form (submit)="createComment()">
        <div class="form-group py-3">
          <label for="commentContent">Commento</label>
          <textarea class="form-control" id="commentContent" rows="1" required name="commentContent" [(ngModel)]="commentContent"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Invia commento</button>
      </form>
    </div>
  </div>

  <div class="col-12">
    <div *ngIf="deleteError" class="error-message pt-4">
      {{ deleteError }}
    </div>
    <div *ngFor="let comment of comments" class="comment">
      <div class="mx-4 box-username">{{comment.user.firstName}}</div>
      <div class="pb-4 mx-4 comment-container">{{comment.content}}</div>
      <button  *ngIf="showDeleteUser()" class="card-comment" mat-icon-button color="primary" (click)="deleteCommentUser(comment.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="!showDelete()" class="card-comment" mat-icon-button color="primary" (click)="deleteComment(comment.id)">
        <mat-icon>cancella</mat-icon>
      </button>

    </div>
  </div>

</div>
