.font-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(193, 189, 189);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}
.box-username {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 3px;
  color: rgb(68, 114, 241);
}

.box-comment {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 3px;
}

.like-button {
  color:rgb(68, 114, 241);
}

.dislike-button {
  color:rgb(230, 58, 67);
}

.card-comment {
  margin-top: auto;
  align-self: flex-end;
}

.comment-container {
  word-wrap: break-word;
}

.error-message {
  color:red;
  font-size: 16px;
}

.author {
  color: rgb(53, 128, 194);
}
