<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-12">
      <!--bottoni mi piace e non mi piace-->
      <button class="btn btn-success" (click)="voteArticle(true)">Mi Piace  <mat-icon>thumb_up</mat-icon>{{ article?.likeCount }}</button>
      <button class="btn btn-danger" (click)="voteArticle(false)">Non Mi Piace<mat-icon>thumb_down</mat-icon>{{ article?.dislikeCount }}</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="box-text">
        <p class="font-title pb-5 article-content" [innerHTML]="article?.title"></p>
        <p class="article-content" [innerHTML]="article?.content"></p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form (submit)="createComment()">
        <div class="form-group py-3">
          <label for="commentContent">Commento</label>
          <textarea class="form-control" id="commentContent" rows="1" required name="commentContent" [(ngModel)]="commentContent"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Invia commento</button>
      </form>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12">
        <div *ngFor="let comment of comments" class="comment">
          <div class="mx-4 box-username">{{comment.user.firstName}}</div>
          <div>  {{comment.content}} </div>
        </div>
    </div>
  </div>


</div>
