<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card-deck">
        <div class="card mb-4" *ngFor="let article of articles">
          <div class="card-body">
            <h5 class="card-title" [innerHTML]="article?.title"></h5>
            <p class="card-text" [innerHTML]="article.content | slice:0:previewLength"></p>
            <div class="tag-container">
              <p class="card-tag" *ngFor="let tag of article.tags">{{ tag.name }}</p>
            </div>
            <button class="btn btn-danger" (click)="viewFullArticle(article.id)">Revisiona Articolo</button>
          </div>
        </div>
      </div>
      <p *ngIf="articles.length === 0" class="text-center">Nessun Articolo da Approvare</p>
    </div>
    <div class="col-lg-4">
      <div class="sidebar pt-5">
        <a class="homepage px-1 py-4 mb-5" routerLink="/articolo" mat-raised-button >Nuovo Articolo</a>
        <h4>Validazione Articoli</h4>
        <mat-card *ngIf="errorMessage" class="error-message">
          <p>{{ errorMessage }}</p>
        </mat-card>
        <mat-card *ngIf="successMessage" class="success-message">
          <p>{{ successMessage }}</p>
        </mat-card>
        <div *ngIf="validations">
          <form [formGroup]="createValidation">
            <mat-card>
              <div>Validazione Corrente Titolo: {{ validations.maxTitleLength }} caratteri</div>
              <div>Validazione Corrente Contenuto: {{ validations.maxContentLength }} caratteri</div>
              <mat-form-field appearance="outline"  class="pt-4">
                <mat-label>Titolo Lunghezza Max</mat-label>
                <input matInput type="number" placeholder="{{ validations.maxContentLength }}" formControlName="title" min="0">
              </mat-form-field>
            </mat-card>

            <mat-card>
              <mat-form-field appearance="outline">
                <mat-label>Contenuto Lunghezza Max</mat-label>
                <input matInput type="number" placeholder="{{ validations.maxContentLength }}" formControlName="content" min="0">

              </mat-form-field>

              <button mat-raised-button color="primary" (click)="save()">Crea Validazioni</button>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
