<div class="main-container">
  <mat-toolbar color="primary" class="d-flex justify-content-between align-items-center bar-white">
    <div style="width: calc(100% / 3 - 2rem)">
      <img src="https://www.regione.lazio.it/themes/custom/assets/images/logo.png" alt="Logo" class="logo-image">
      <a class="homepage px-1" routerLink="/"><mat-icon>home</mat-icon></a>
    </div>
    <div style="width: calc(100% / 3 - 2rem);text-align: right;" >

      <div *ngIf="showLogout()">
        <button class="mx-1" mat-stroked-button routerLink="/login">Accedi</button>
        <button  mat-stroked-button routerLink="/registrazione-utente">Registrazione</button>
      </div>
      <div *ngIf="!showLogout()">
        <button class="mx-1" mat-stroked-button routerLink="/revisione" *ngIf="!showReview()">Revisiona</button>
        <button class="mx-1" mat-stroked-button routerLink="/gestione-autori" *ngIf="!showReview()">Autori</button>
        <button mat-stroked-button routerLink="/gestione-utenti" *ngIf="!showReview()">Gestione Utenti</button>
        <button class="ms-btn-tertiary mx-1" mat-raised-button (click)="logout()">Logout</button>
      </div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

